DROP TABLE IF EXISTS shift_plan; CREATE TABLE shift_plan (id uuid DEFAULT gen_random_uuid() PRIMARY KEY, tenant_id int4, employee_id int4, date date, shift_setting_id int4, created_at timestamp DEFAULT CURRENT_TIMESTAMP, updated_at timestamp DEFAULT CURRENT_TIMESTAMP);
